



header {
border: black;
border: solid;
height: 100px;
}

section{
    border:solid black;
    height: 200px;
    flex: 1;
}

main {
display: flex;
}

footer {
    border: black;
    border: solid;
    height: 100px;
   
}
